p {
    width: 50%;
    position: relative;
    left: -15rem;
    top: 5rem;
}

img {
    width: 10%;
    height: 10%;
}

.logos {
    position: relative;
    left: 40rem;
    bottom: 10rem;
}

.layer1 {
    opacity: 0%;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
    animation-name: slideInText;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.layer2 {
    opacity: 0%;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation-name: slideInText;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.layer3 {
    opacity: 0%;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation-name: slideInText;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.cssLogo {
    width: 6%;
    height: 6%;
}

.java {
    width: 6%;
    height: 6%;
    margin-right: 1rem;
}

.aboutText {
    opacity: 0%;
    animation-name: slideInText;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
    top: 15rem;
}

@keyframes slideInText {
    to {opacity: 100%;}
}