body {
    background: linear-gradient(to bottom, #0051ff, #00a2ff, #00d9ff);
}


.homeLogo {
    position: relative;
    width: 40%;
    top: -400px;
    opacity: 0%;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

.Intro {
    position: absolute;
    top: 450px;
    right: 750px;
    opacity: 0%;
    animation-name: slideInText;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    font-size: 1.5rem;
    max-width: 500px;
}

@keyframes slideIn {
    to {opacity: 100%; transform: translateY(300px);}
}

@keyframes slideInText {
    to {opacity: 100%;}
}